body{
  margin:0;
  padding:0;
  box-sizing:border-box;
  width:100%;
}
.header{
  display:flex;
  justify-content:space-between;
  padding:20px;
  font-size:20px;
  background:#1f2937;
/*   position:absolute; */
}
.header .logo{
  font-size: 24px;
  color:#f9faf8;
}
.header-links a{
  color:#e5e7eb;
  font-size: 18px;
  text-decoration: none;
}
.header-links a:hover{
  color:gray;
}
#home{
/*   position:relative; */
  background:#1f2937;
  padding:30px;
  display:flex;
  justify-content:space-evenly;
}
#home h2{
  font: 48px extra-bold serif;
  color:#f9faf8;
}
#home p{
  color:#e5e7eb;
  font-size: 18px;
}
img{
  object-fit: fill;
  width:300px;
  height:80%;
}
#home button {
  width:7.5rem;
  height:2rem;
  background:#3882f6;
  color:white;
  border-radius: 10px;
  border:none;
}
#home button:hover{
  box-shadow:0 0 15px 1.5px #191b20;
  background: #131820;
}
#about {
  display:flex;
  flex-direction:column;
}
#about h2{  
  text-align:center;
  font: 36px extra-bold;
  color: #1f2937;
}
div.gallery{
  display:flex;
  flex-wrap: wrap;
  margin:20px;
}
div.gallery.img{
  object-fit: contain;
  width: 270px;
  height: 50%;
}
div .card {
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  padding:10px;
  margin:10px;
}
div .card:hover{
  box-shadow:0 0 15px 1.5px #586b8a;
}
div .desc {
  padding:15px;
  text-align:center;
}
#quote{
  background:#e5e7eb;
  font:italic 25px sans-serif;
  color:#1F2937;
  display:flex;
  justify-content:center;
  padding:20px;
}
#quote i{
  font-size: 20px;
}
#contact {
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  background:#3882f6;
  color:white;
  margin:20px 50px;
  padding:20px;
  border-radius:10px;
}
#contact button{
  width:5rem;
  height:2rem;
  border-radius:10px;
  background:transparent;
  color:white;
  border:1px solid white;
}
#contact button:hover{
  box-shadow:0 0 15px 1.5px #95b5ea;
  border:none;
  background: #1F2937;
}
footer{
/*   position:absolute; */
  background:#1f2937;
  color:white;
  display:flex;
  justify-content:center;
  padding:10px;
}

